frame1{
display:block;
border-style:double;
border-color:blue;
width:200;
height:130;
}
frame2{
display:block;
border-style:dotted;
border-color:red green;
width:150;
height:100;
}
frame3{
display:block;
border-style:ridge;
border-top-width:10;
width:100;
height:70;
}