root{
display:block;
background-color:yellow;
width:300;
height:200;
position:absolute;
top:25;
left:50;
}
frame1{
display:block;
background-color:blue;
width:200;
height:120;
position:absolute;
top:25;
left:50;
z-index:10;
}
frame2{
display:block;
background-color:green;
width:100;
height:50;
position:relative;
top:25;
left:50;
z-index:5;
}
frame3{
display:block;
background-color:red;
width:100;
height:50;
position:relative;
top:25;
left:20;
z-index:1;
}