chemistry{
display:block;
font-size:15pt;
text-decoration:underline;
text-transform:uppercase;
}
bottom{
display:line;
font-size:10pt;
vertical-align:bottom;
}
discretion{
display:block;
font-size:12pt;
text-align:justify;
background-color:yellow;
font-style:italic;
text-align:center;
}
bold{
font-weight:bolder;
}
