frame1{
display:line;
border-style:outset;
width:100;
height:50;
margin-bottom:20;
}
frame2{
display:line;
border-style:outset;
width:100;
height:50;
margin-left:20;
margin-top:20;
}
frame3{
display:block;
border-style:outset;
width:200;
height:50;
margin:20;
}