book{
display:block;
width:400;
border-style:double;
border-right:none;
border-bottom:none;
border-left:none;
}
title{
display:list-item;
text-align:center;
font-size:15;
padding-top:5;
font-weight:bolder;
}
author{
display:block;
list-style-type:square;
font-size:13;
font-style:italic;
font-weight:bold;
background-color:yellow;
}
price{
display:line;
text-align:center;
position:relative;
top:-30;
left:350;
}
discretion{
display:block;
width:300;
text-indent:25;
line-height:2;
}
#xiyou{
display:block;
width:70;
height:100;
background:url(xiyou.bmp);
float:right;
}
#honglou{
display:block;
width:70;
height:100;
background:url(honglou.bmp);
float:right;
}