title{
display:block;
background-color:yellow;
}
author{
display:block;
background-color:cyan;
}
price{
display:block;
background-color:yellow;
}
discretion{
display:block;
background-color:cyan;
position:absolute;
width:300px;
height:60px;
}
