book{
display:list-item;
list-style-type:square;
margin-left:100px;
}
author{
display:list-item;
list-style-type:circle;
margin-left:110px;
}
price{
display:list-item;
list-style-type:circle;
margin-left:110px;
}
discretion{
display:list-item;
list-style-type:circle;
margin-left:110px;
}
